<!DOCTYPE html>
<html lang="th">

<head>
    <title>SeuKhai</title>
    <%- include('../layout/head') %>
</head>

<body class="home">
    <section>
        <div class="container-fluid">
            <div class="container">
                <div class="container-form">
                    <form class="form-signin" method="post" action="/v1.0/oauth/reset-password">
                        <h1 class="title"><%= __('resetPassword.changePassword') %></h1>
                        <div class="hr-3"></div>
                        <br>
                        <input type="password" name="password" class="form-control input-content"
                            placeholder="<%= __('password') %>" autofocus>
                        <input type="hidden" name="token" class="form-control input-content"
                            placeholder="<%= __('password') %>" autofocus id="token-reset" value="<%= typeof token !== 'undefined' ? token : '' %>">
                        <input type="password" name="confirm_password" class="form-control input-content"
                            placeholder="<%= __('confirmPassword') %>" autofocus>
                        <% if(typeof error !== 'undefined'){ %>
                        <%- include('../layout/error.ejs', {
                                        error: error
                                    }) %>
                        <% } %>
                        <button class="box-social register reset-password" type="submit">
                            <p class="text">
                                <%= __('sendInformation') %>
                            </p>
                        </button>
                        <% if(typeof request_is_invalid !== 'undefined' && request_is_invalid){ %>
                        <p class="send-email-verify error"><%- __('resetPassword.thisRequestIsInvalid')%></p>
                        <% } %>
                        <% if(typeof verify_code_expired !== 'undefined' && verify_code_expired){ %>
                        <p class="send-email-verify error"><%- __('resetPassword.yourResetPasswordCodeHasExpired')%></p>
                        <% } %>
                    </form>
                </div>
                <div class="modal fade" id="reset-password" tabindex="-1" role="dialog"
                    aria-labelledby="resend-email-title" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="resend-email-title">
                                    <%= __('resetPassword.resetPasswordTitle') %>
                                </h5>
                                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                    <svg class="bi bi-x" width="1em" height="1em" viewBox="0 0 16 16"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z" />
                                        <path fill-rule="evenodd"
                                            d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z" />
                                    </svg>
                                </button>
                            </div>
                            <div class="modal-body container-form">
                                <input type="text" name="email-reset" class="form-control input-content"
                                    placeholder="<%= __('email') %>" autofocus id="email-reset"
                                    value="<%= typeof email !== 'undefined' ? email : '' %>">
                                <div class="error-resend-email" id="error-send-email-reset">
                                </div>
                                <button class="box-social gmail btn-send-email-reset">
                                    <img src="/assets/icon/mail.svg" />
                                    <p class="text">
                                        <%= __('sendInformation') %>
                                    </p>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="reset-password-success" tabindex="-1" role="dialog"
                    aria-labelledby="resend-email-title" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="resend-email-title">
                                </h5>
                                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                    <svg class="bi bi-x" width="1em" height="1em" viewBox="0 0 16 16"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z" />
                                        <path fill-rule="evenodd"
                                            d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z" />
                                    </svg>
                                </button>
                            </div>
                            <div class="modal-body container-form">
                                <p class="message-send-email-reset-success"></p>
                                <p><%= __('resetPassword.pleaseCheckYourEmail') %></p>
                                <div class="error-resend-email" id="error-send-email-reset">
                                </div>
                                <button class="box-social gmail" data-dismiss="modal">
                                    <p class="text">
                                        <%= __('oke') %>
                                    </p>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                function getParameterByName(name, url) {
                    if (!url) url = window.location.href;
                    name = name.replace(/[\[\]]/g, '\\$&');
                    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                        results = regex.exec(url);
                    if (!results) return null;
                    if (!results[2]) return '';
                    return decodeURIComponent(results[2].replace(/\+/g, ' '));
                }
                $(document).ready(function(){
                    const token = getParameterByName("token")
                    console.log(token);
                    if(token){
                        $('#token-reset').val(token)
                    }
                })
                
                $('#reset-password').on('hidden.bs.modal', function (e) {
                    $('#error-send-email-reset').html('')
                })
                $('.btn-send-email-reset').on('click', function () {
                    var email = $('#email-reset').val();
                    $.ajax({
                        type: 'POST',
                        url: '/v1.0/oauth/send-email-reset-password',
                        data: {
                            email
                        },
                        success: function (result) {
                            if (result.success) {
                                $('#reset-password').modal('hide');
                                $('.message-send-email-reset-success').html(result.data.message)
                                $('#reset-password-success').modal('show');
                            }
                        },
                        error: function (error) {
                            if (error.responseJSON.detail) {
                                if (error.responseJSON.detail.message) {
                                    $('#error-send-email-reset').html(error.responseJSON.detail.message)
                                } else {
                                    $('#error-send-email-reset').html(error.responseJSON.detail)
                                }
                            }
                        }
                    });
                })
            </script>
        </div>
    </section>
</body>
<%- include('../layout/footer') %>

</html>